.br {
  border: 1px solid red;
}

.bb {
  border: 1px solid blue;
}

/* Flex Row */
.fr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Justify and align center */
.center {
  justify-content: center;
  align-items: center;
}

/* Links effects */
.links {
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    opacity: .8;
  }  
}

