.br {
  border: 1px solid red;
}

.bb {
  border: 1px solid blue;
}

/* Default container 1440px */
.container {
  width: 1240px;
  margin: 0 auto;
  border: 1px solid red;
}

/* Flex Row */
.fr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Justify and align center */
.center {
  justify-content: center;
  align-items: center;
}

