:root {
  /* Colors */
  --primaryColor: #FFFFFF;
  --secondaryColor:#F2F0F1;
  --tertiaryColor: #000000;

  /* Fonts */

  --title: 'Integral', sans-serif;
  --textRegular: 'Satoshi Regular', sans-serif;
  --textBold: 'Satoshi Bold', sans-serif;
  --textMedium: 'Satoshi Medium', sans-serif;
}